:root {
  --background: #e9e7e8;
  --foreground: #2d2a32;
  --accent: #7a2cff;
  --foreground_secondary: #6b6472;
  --border: #6b6472;
  --button__background: var(--accent);
  --button__foreground: var(--background);
  --page-width: 1200px;
  --unit: 4px;
}

.mockup {
  display: none;
  position: absolute;
  /* top: 0; */
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  pointer-events: none;
  margin-left: 3px;
  z-index: 999;
}

html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  font-size: var;
  background-color: var(--background);
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =========================
LAYOUT
========================== */
main {
  display: grid;
  gap: 40px;
  grid-template-columns: 690px 1fr;
  grid-template-rows: repeat(4, auto);
  width: var(--page-width);
}

header {
  grid-column: 1;
  grid-row: 1;
}
.title {
  grid-column: 1;
  grid-row: 2;
}
.letter {
  grid-column: 2;
  grid-row: 1 / -1;
  position: relative;
}
.features {
  grid-column: 1;
  grid-row: 3;
}
.waitlist {
  grid-column: 1;
  grid-row: 4;
}

h1 {
  font-size: 88px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-weight: 900;
}



/* =========================
LETTER
========================== */
.letter img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(7.15deg);
  box-shadow: 0 10px 10px #00000033;
  transform-origin: center;
  margin-left: -80px;
}


/* =========================
FEATURES
========================== */
.features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 4;
}

.feature--title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 700;
  font-size: ;
}

.waitlist-button {
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 6px;
  border: 0 none;
  background-color: var(--button__background);
  color: var(--button__foreground);
  display: block;
  text-align: center;
  width: 530px;
}

@media (max-width: 1200px), (max-height: 700px) {
  :root {
    --page-width: 90vw;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 24px 0;
  }
  h1 {
    text-align: center;
  }
  .letter {
    width: 100%;
    margin-top: -60px;
    box-shadow: 0 10px 10px #00000033;
    display: flex;
    overflow: hidden;
    justify-content: center;
    aspect-ratio: 0.75;
    align-items: center;
  }


  .letter img {
    position: static;
    transform: none;
    width: 96vw;
    margin-left: auto;
    box-shadow: none;
    display: block;
    aspect-ratio: 0.7;
  }

  .waitlist-button {
    width: 100%;
  }

  .features {
    display: none;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 66px;
  }
  .letter {
    margin-top: -50px;
  }
}

@media (max-width: 570px) {
  h1 {
    font-size: 44px;
  }
  .letter {
    margin-top: -42px;
  }
}



/*
.waitlist {
  width: 480px;
  max-width: 90vw;
}

.waitlist form {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 8px;
  margin: 8px 0;
}
.waitlist input {
  flex-grow: 1;
}

small {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  color: var(--foreground_secondary);
  display: block;
}
  */

/*
@media (max-width: 1200px) {
  .skewed_letter,
  .ups_container {
    display: none;
  }
  .mobile-letter {
    display: block;
  }

  .content {
    margin: 0 auto;
    align-items: center;
    padding-bottom: 80px;
  }
  h1 {
    text-align: center;
  }
  h1 span {
    display: none;
  }

  .letter {
    margin-top: -78px;
    width: 700px;
    box-shadow: 0 0 10px #00000033;
    aspect-ratio: 0.7567567568;
  }
}

@media (max-width: 926px) {
  main {
    padding-top: 24px;
  }
  .content {
    width: 100vw;
    gap: 20px;
  }
  h1 {
    font-size: 48px;
    line-height: 1em;
  }
  .letter {
    max-width: 90vw;
    margin-top: -42px;
  }
}
  /*
