:root {
  --background: #e9e7e8;
  --foreground: #2d2a32;
  --accent: #7a2cff;
  --foreground_secondary: #6b6472;
  --border: #6b6472;
  --button__background: var(--accent);
  --button__foreground: var(--background);
  --page-width: 1200px;
  --unit: 4px;
}

.mockup {
  display: none;
  position: absolute;
  /* top: 0; */
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  pointer-events: none;
  margin-left: 3px;
  z-index: 999;
}

html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  font-size: var;
  background-color: var(--background);
  min-height: 100vh;
  color: var(--foreground);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =========================
LAYOUT
========================== */
main {
  display: grid;
  gap: 40px;
  grid-template-columns: 690px 1fr;
  grid-template-rows: repeat(4, auto);
  width: var(--page-width);
}

header {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  gap: 8px;
}
.title {
  grid-column: 1;
  grid-row: 2;
}
.letter {
  grid-column: 2;
  grid-row: 1 / -1;
  position: relative;
}
.features {
  grid-column: 1;
  grid-row: 3;
}
.waitlist {
  grid-column: 1;
  grid-row: 4;
}

header img {
  height: 36px;
}
h1 {
  font-size: 88px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-weight: 900;
}

/* =========================
LETTER
========================== */
.letter img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(7.15deg);
  box-shadow: 0 10px 10px #00000033;
  transform-origin: center;
  margin-left: -80px;
}

/* =========================
FEATURES
========================== */
.features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 4;
}

.feature--title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 700;
}

.waitlist-button {
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 6px;
  border: 0 none;
  background-color: var(--button__background);
  color: var(--button__foreground);
  display: block;
  text-align: center;
  width: 555px;
}

@media (max-width: 1200px), (max-height: 700px) {
  :root {
    --page-width: 90vw;
  }
  body {
    justify-content: flex-start;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 12px 0 48px;
  }
  h1 {
    text-align: center;
  }
  .letter {
    width: 94vw;
    margin-top: -46px;
    box-shadow: 0 10px 10px #00000033;
    display: flex;
    overflow: hidden;
    justify-content: center;
    aspect-ratio: 0.8;
    align-items: center;
    transform: rotateZ(1deg);
  }

  .letter img {
    position: static;
    transform: none;
    width: 100vw;
    margin-left: auto;
    box-shadow: none;
    display: block;
    aspect-ratio: 0.7;
  }

  .waitlist-button {
    width: 100%;
  }

  .features {
    display: none;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 66px;
  }
  .letter {
    margin: -38px 0;
  }
}

@media (max-width: 570px) {
  header img {
    height: 28px;
  }
  h1 {
    font-size: 44px;
  }
  .letter {
    margin: -30px 0 0px;
  }
}
